stages:
  - test

test-all:
  stage: test
  image: debian:11
  script:
    - apt update
    - apt install -y python3 python3-pip
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - pytest -v --junit-xml="results.xml"
  artifacts:
    when: always
    reports:
      junit:
        - results.xml
~
