stages:
  - lint_and_test
  - concepts
  - examples
  - coverage

lint_python:
  stage: lint_and_test
  image: debian:11
  script:
    - apt update
    - apt install -y python3 python3-pip bc
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - make lint | tee pylint.log
    - RATING=$(grep -oP 'Your code has been rated at \K[\d.]+' pylint.log)
    - PERCENTAGE=$(echo "$RATING * 10" | bc)
    - printf "lint score is %.2f %%\n" "$PERCENTAGE"
  coverage: /lint score is ([\d]+\.[\d]+)/
  allow_failure: true

test-all:
  stage: lint_and_test
  image: debian:11
  script:
    - apt update
    - apt install -y python3 python3-pip
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - make test
  artifacts:
    when: always
    paths:
      - .coverage
    reports:
      junit:
        - results.xml

# TODO : Add artifacts, when we have a clearer idea of what those would be
# TODO : Add results.xml, when our framework generates it
run-concepts:
  stage: concepts
  image: registry.woden.us.es/containers/questa:2024.2
  script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=2101@baldr.us.es
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - make PYTHON="coverage run" concepts
  artifacts:
    when: always
    paths:
      - .coverage

run-examples:
  stage: examples
  image: registry.woden.us.es/containers/questa:2024.2
  script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=2101@baldr.us.es
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - make PYTHON="coverage run" examples
  artifacts:
    when: always
    paths:
      - .coverage

# Test for #126
# TODO : This test should be done a bit differently, so we don't have to update
# it manually, for example it may get the available steps from the framework
# and then run each of them alternated with a 'make clean' inside a for loop
# TODO : Not sure how having this in parallel with run-examples will affect
# python coverage, since both write on .coverage, so I'll remove the .coverage
# artifact from this job
run-steps-independently:
  stage: examples
  image: registry.woden.us.es/containers/questa:2024.2
  script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=2101@baldr.us.es
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - coverage run -m examples.01-countervunit.formal -s lint
    - make clean
    - coverage run -m examples.01-countervunit.formal -s rulecheck
    - make clean
    - coverage run -m examples.01-countervunit.formal -s reachability
    - make clean
    - coverage run -m examples.01-countervunit.formal -s resets
    - make clean
#    - coverage run -m examples.01-countervunit.formal -s clocks
#    - make clean
    - coverage run -m examples.01-countervunit.formal -s prove
    - make clean
#  artifacts:
#    when: always
#    paths:
#      - .coverage


pycoverage:
  stage: coverage
  image: debian:11
  script:
    - apt update
    - apt install -y python3 python3-pip
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - make pycoverage
  coverage: /TOTAL.*\s+(\d+\%)/
  artifacts:
    when: always
    paths:
      - htmlcov
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
