stages:
  - test
  - examples

test-all:
  stage: test
  image: debian:11
  script:
    - apt update
    - apt install -y python3 python3-pip
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - pytest -v --junit-xml="results.xml"
  artifacts:
    when: always
    reports:
      junit:
        - results.xml

# TODO : Add artifacts, when we have a clearer idea of what those would be
# TODO : Add results.xml, when our framework generates it
run-examples:
  stage: examples
  image: registry.woden.us.es/containers/questa:2024.2
  script:
    - env | grep LIC
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=2101@baldr.us.es
    - pip3 install -r requirements.txt
    - make examples
