stages:
  - lint_and_test
  - concepts
  - examples
  - coverage
  - doc
  - deploy
#  - history

count_todos_in_code:
  stage: lint_and_test
  image: debian:12
  variables:
    GOAL: "60"
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv
    - make todo | tee todo.log
    - TODOS=$(grep -oP 'TODOs=\K[\d]+' todo.log)
    - |
      if [ "$(echo "$TODOS > $GOAL" | bc)" -eq 1 ]; then
        echo "ERROR: Number of TODOs $TODOS is over goal $GOAL"
        exit 1
      else
        echo "SUCCESS: Number of TODOs $TODOS is equal or lower than goal $GOAL"
      fi
  coverage: /Count=([\d]+)/
  artifacts:
    when: always
    paths:
      - badges/todo.svg

lint_python:
  stage: lint_and_test
  image: debian:12
  variables:
    GOAL: "92"
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv bc
    - make lint | tee pylint.log
    - RATING=$(grep -oP 'Your code has been rated at \K[\d.]+' pylint.log)
    - PERCENTAGE=$(echo "$RATING * 10" | bc)
    - printf "lint score is %.2f %%\n" "$PERCENTAGE"
    - |
      if [ "$(echo "$PERCENTAGE < $GOAL" | bc)" -eq 1 ]; then
        echo "ERROR: Lint score $PERCENTAGE is below goal $GOAL"
        exit 1
      else
        echo "SUCCESS: Lint score $PERCENTAGE equal or better than goal $GOAL"
      fi
  coverage: /lint score is ([\d]+\.[\d]+)/

test_all:
  stage: lint_and_test
  image: debian:12
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv
    - make test
    - mv .coverage .coverage.pytest
  artifacts:
    when: always
    paths:
      - test/drom2psl/*.psl
      - .coverage.pytest
      - results.xml
    reports:
      junit:
        - results.xml

#generate_matrixes:
#  stage: lint_and_test
#  image: debian:12
#  script:
#    - export CONCEPTS=$(make list-concepts | tr '\n' ',')
#    - export EXAMPLES=$(make list-concepts | tr '\n' ',')

# TODO : Add artifacts, when we have a clearer idea of what those would be
# TODO : Add results.xml, when our framework generates it
run_concepts_questa: &run_concepts_questa
  stage: concepts
  image: registry.woden.us.es/containers/questa:2025.1_2
  variables:
    TOOLCHAIN: "questa"
  parallel:
    matrix:
      - DESIGN: [transactions_deprecated, parameterized_sequences, inheriting_vunits, inheriting_multiple_vunits, parameterized_properties, multiple_designs, symbolic_constants, user_defined_hdltypes, user_defined_hdltypes_in_package, user_defined_hdltypes_in_external_package, assert_to_assume, defining_clocks_and_resets, hooks, design_configurations, assertion_decomposition, reachability_example]
  before_script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=29000@popote.us.es
    - yum install -y git python39 java-1.8.0-openjdk
    # TODO : the following 6 lines don't work, we should create the file from
    # inside the python code (see issue #165)
    #- echo '{"name":"GitLab CI with runner ${CI_RUNNER_ID}","type":"gitlab","reportName":"Allure Report (without history for now)",' > executor.json
    #- echo "\"reportUrl\":\"${CI_PAGES_URL}/${CI_COMMIT_REF_NAME}/${CI_JOB_ID}/\"," >> executor.json
    #- echo "\"buildUrl\":\"${CI_PIPELINE_URL}\"," >> executor.json
    #- echo "\"buildName\":\"GitLab Job Run ${CI_JOB_ID}\",\"buildOrder\":\"${CI_JOB_ID}\"}" >> executor.json
    #- mkdir -p fvm_out/fvm_results
    #- mv executor.json fvm_out/fvm_results
    #- mkdir -p fvm_out/dashboard/allure-results
  script:
    - make PYTHON="coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN" $DESIGN
  after_script:
    - mv fvm_out/fvm_report fvm_out/fvm_report.$TOOLCHAIN.$DESIGN
    - mv fvm_out/dashboard/allure-report fvm_out/dashboard/allure-report.$TOOLCHAIN.$DESIGN
  artifacts:
    when: always
    paths:
      - .coverage.$TOOLCHAIN.$DESIGN
      - fvm_out/fvm_results/*.xml
      - fvm_out/fvm_results/executor.json
      - fvm_out/fvm_report.$TOOLCHAIN.$DESIGN
      - fvm_out/dashboard/allure-results/*.html
      - fvm_out/dashboard/allure-results/*.json
      - fvm_out/dashboard/allure-results/*.log
      - fvm_out/dashboard/allure-report.$TOOLCHAIN.$DESIGN
    reports:
      junit:
        - fvm_out/fvm_results/*.xml

.run_concepts_sby: &run_concepts_sby
  <<: *run_concepts_questa
  image: registry.gitlab.com/hgpub/fosshdl-dist
  variables:
    TOOLCHAIN: "sby"
  before_script:
    - DEBIAN_FRONTEND=noninteractive apt update && apt install -y python3 python3-pip python3-venv
    - source /home/salas/fosshdl/env.rc
    - export FVM_TOOLCHAIN=sby

run_examples_questa:
  <<: *run_concepts_questa
  stage: examples
  parallel:
    matrix:
      - DESIGN: [counter, countervunit, linearinterpolator, dualcounter, uart_tx, arbiter_prior, arbiter_rr, fifo_sync, fifo_async, axi_lite_slave, sdram, ddr2_controller, ipv6]

.run_examples_sby:
  <<: *run_concepts_sby
  stage: examples
  parallel:
    matrix:
      #- DESIGN: [counter, countervunit, linearinterpolator, dualcounter, uart_tx, arbiter_prior, arbiter_rr, fifo_sync, fifo_async, axi_lite_slave, sdram, ddr2_controller, ipv6]
      - DESIGN: [counter, countervunit, linearinterpolator, dualcounter, uart_tx, arbiter_prior, arbiter_rr, fifo_sync, axi_lite_slave]

# Test for #126
# TODO : This test should be done a bit differently, so we don't have to update
# it manually, for example it may get the available steps from the framework
# and then run each of them alternated with a 'make clean' inside a for loop
# TODO : this could be implemented more cleanly using parallel:matrix
.run_steps_independently_questa:
  stage: examples
  image: registry.woden.us.es/containers/questa:2025.1_2
  variables:
    TOOLCHAIN: "questa"
  before_script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=29000@popote.us.es
    - yum install -y python39 java-1.8.0-openjdk
  script:
    - make PYTHON="coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN" $DESIGN
    - source .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN.lint -m examples.countervunit.formal -s lint
    - make clean
    - source .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN.rulecheck --m examples.countervunit.formal -s friendliness
    - make clean
    - source .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN.reachability --m examples.countervunit.formal -s reachability
    - make clean
    - source .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN.resets --m examples.countervunit.formal -s resets
    - make clean
#    - coverage run -m examples.countervunit.formal -s clocks
#    - make clean
    - source .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN.prove --m examples.countervunit.formal -s prove
    - make clean
  artifacts:
    when: always
    paths:
      - .coverage.*

run_options_questa:
  stage: concepts
  image: registry.woden.us.es/containers/questa:2025.1_2
  variables:
    TOOLCHAIN: "questa"
  before_script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=29000@popote.us.es
    - yum install -y python39 java-1.8.0-openjdk
  script:
    - make install
    - . .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.hooks.verbose concepts/hooks/formal.py -v
    - . .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.hooks.list concepts/hooks/formal.py -l
    - . .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.design_configurations.list concepts/design_configurations/formal.py -l
    - . .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.hooks.outdir concepts/hooks/formal.py -o fvm_out_2
    - . .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.hooks.design concepts/hooks/formal.py -d counter
    - . .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.hooks.prove concepts/hooks/formal.py -s prove
    - . .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.hooks.prove_list concepts/hooks/formal.py -s prove -l
    - . .venv/bin/activate && coverage run --data-file=.coverage.$TOOLCHAIN.vunits.continue concepts/inheriting_vunits_fail/formal.py -c
    - make clean
  artifacts:
    when: always
    paths:
      - .coverage.$TOOLCHAIN.hooks.verbose
      - .coverage.$TOOLCHAIN.hooks.list
      - .coverage.$TOOLCHAIN.design_configurations.list
      - .coverage.$TOOLCHAIN.hooks.outdir
      - .coverage.$TOOLCHAIN.hooks.design
      - .coverage.$TOOLCHAIN.hooks.prove
      - .coverage.$TOOLCHAIN.hooks.prove_list
      - .coverage.$TOOLCHAIN.vunits.continue

full_dashboard:
  stage: doc
  image: debian:12
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv default-jdk
    - mv results.xml fvm_out/fvm_results
    - make report
    - make updated_report
  artifacts:
    when: always
    paths:
      - fvm_out/fvm_report
      - fvm_out/dashboard/allure-report

apidoc:
  stage: doc
  image: debian:12
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv
    - make docs
  artifacts:
    when: always
    paths:
      - doc/sphinx/build/html
      - badges/undocumented.svg
  coverage: /Total undocumented members= ([\d]+)/

# The history is much smaller than the full dashboard, so we can afford to save
# it with a long expiry date
#save_history:
#  stage: history
#  image: debian:12
#  script:
#    - mv fvm_out/fvm_report/history history
#  artifacts:
#    when: always
#    paths:
#      - history
#    expire_in: 1 month


# TODO : merge coverage files from previous stages
pycoverage:
  stage: coverage
  image: debian:12
  variables:
    GOAL: "92"
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv
    - make pycoverage | tee pycoverage.log
    - LASTFIELD=$(grep 'TOTAL' pycoverage.log | awk '{print $NF}')
    - PERCENTAGE=${LASTFIELD%\%}
    - |
      if [ "$(echo "$PERCENTAGE < $GOAL" | bc)" -eq 1 ]; then
        echo "ERROR: Python coverage $PERCENTAGE is below goal $GOAL"
        exit 1
      else
        echo "SUCCESS: Python coverage $PERCENTAGE equal or better than goal $GOAL"
      fi
  coverage: /TOTAL.*\s+(\d+\%)/
  artifacts:
    when: always
    paths:
      - htmlcov
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

# Deploy institutional website
#
# It is important we cd before the lftp command: if not, we may push the whole
# repo to the public website. We want the second command to NOT run if the
# first command fails, so that's why we use the && instead of a different line
# in the script
#
# For now the website is just a placeholder: in the future, we will include
# more content
website:
  stage: deploy
  image: alpine:3
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  script:
    - apk add lftp openssh
    - mkdir ~/.ssh
    - echo "institucional.us.es ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHQ6I6yxtNPZrW3bRpoXlDV+6QywmEp4j0ReeZETQGzi" >> ~/.ssh/known_hosts
    - cd doc/website && lftp -p 22 -u $FTP_USERNAME,$FTP_PASSWORD $FTP_HOST -e "mirror -R -e . ; quit"

# Deploy to gitlab pages
# This is done only on the main branch: if not, pages would be overwritten by
# all pipelines running in all branches, and we don't want that. We want our
# gitlab pages to point to the stable version
# TODO : maybe there is way of serving multiple versions on the gitlab pages,
# doing something similar as what we would like to do keeping the Allure
# history. See
# https://dev.to/zenika/gitlab-pages-preview-the-no-compromise-hack-to-serve-per-branch-pages-5599
# (but also look for other alternatives)
pages:
  stage: deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
  script:
    - mv doc/sphinx/build/html public
    - echo Publishing gitlab pages
  artifacts:
    paths:
      - public
