stages:
  - lint_and_test
  - concepts
  - examples
  - coverage
  - doc
  - deploy_testpypi
  - test_testpypi

version_badge:
  stage: lint_and_test
  image: registry.woden.us.es/containers/debian:12
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv bc curl
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    - mkdir -p badges
    - uv run anybadge --value=`uv version --short` --file=badges/version.svg
  artifacts:
    paths:
      - badges/version.svg

test_ci_vars:
  stage: lint_and_test
  image: alpine
  script:
    - echo $CI_COMMIT_TAG
    - echo $CI_COMMIT_BRANCH
    - echo $IS_PRIVATE_GITLAB_INSTANCE

count_todos_in_code:
  stage: lint_and_test
  image: registry.woden.us.es/containers/debian:12
  variables:
    GOAL: "60"
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv bc curl
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    - make todo | tee todo.log
    - TODOS=$(grep -oP 'TODOs=\K[\d]+' todo.log)
    - |
      if [ "$(echo "$TODOS > $GOAL" | bc)" -eq 1 ]; then
        echo "ERROR: Number of TODOs $TODOS is over goal $GOAL"
        exit 1
      else
        echo "SUCCESS: Number of TODOs $TODOS is equal or lower than goal $GOAL"
      fi
  coverage: /Count=([\d]+)/
  artifacts:
    when: always
    paths:
      - badges/todo.svg

lint_python:
  stage: lint_and_test
  image: registry.woden.us.es/containers/debian:12
  variables:
    GOAL: "92"
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv bc curl
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    - make lint | tee pylint.log
    - RATING=$(grep -oP 'Your code has been rated at \K[\d.]+' pylint.log)
    - PERCENTAGE=$(echo "$RATING * 10" | bc)
    - printf "lint score is %.2f %%\n" "$PERCENTAGE"
    - |
      if [ "$(echo "$PERCENTAGE < $GOAL" | bc)" -eq 1 ]; then
        echo "ERROR: Lint score $PERCENTAGE is below goal $GOAL"
        exit 1
      else
        echo "SUCCESS: Lint score $PERCENTAGE equal or better than goal $GOAL"
      fi
  coverage: /lint score is ([\d]+\.[\d]+)/

test_all:
  stage: lint_and_test
  image: registry.woden.us.es/containers/debian:12
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv curl
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    - make test
    - mv .coverage .coverage.pytest
  artifacts:
    when: always
    paths:
      - test/drom2psl/*.psl
      - .coverage.pytest
      - results.xml
    reports:
      junit:
        - results.xml

#generate_matrixes:
#  stage: lint_and_test
#  image: registry.woden.us.es/containers/debian:12
#  script:
#    - export CONCEPTS=$(make list-concepts | tr '\n' ',')
#    - export EXAMPLES=$(make list-concepts | tr '\n' ',')

# TODO : Add artifacts, when we have a clearer idea of what those would be
# TODO : Add results.xml, when our framework generates it
run_concepts_questa: &run_concepts_questa
  stage: concepts
  image: registry.woden.us.es/containers/questa:2025.1_2
  variables:
    TOOLCHAIN: "questa"
  tags:
    - fast
  parallel:
    matrix:
      - DESIGN: [adding_drom_sources, transactions_deprecated, parameterized_sequences, inheriting_vunits, inheriting_multiple_vunits, parameterized_properties, multiple_designs, symbolic_constants, user_defined_hdltypes, user_defined_hdltypes_in_package, user_defined_hdltypes_in_external_package, assert_to_assume, defining_clocks_and_resets, hooks, design_configurations, assertion_decomposition, reachability_example]
  before_script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=29000@popote.us.es
    - yum install -y git python39 java-1.8.0-openjdk
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    # TODO : the following 6 lines don't work, we should create the file from
    # inside the python code (see issue #165)
    #- echo '{"name":"GitLab CI with runner ${CI_RUNNER_ID}","type":"gitlab","reportName":"Allure Report (without history for now)",' > executor.json
    #- echo "\"reportUrl\":\"${CI_PAGES_URL}/${CI_COMMIT_REF_NAME}/${CI_JOB_ID}/\"," >> executor.json
    #- echo "\"buildUrl\":\"${CI_PIPELINE_URL}\"," >> executor.json
    #- echo "\"buildName\":\"GitLab Job Run ${CI_JOB_ID}\",\"buildOrder\":\"${CI_JOB_ID}\"}" >> executor.json
    #- mkdir -p fvm_out/fvm_results
    #- mv executor.json fvm_out/fvm_results
    #- mkdir -p fvm_out/dashboard/allure-results
  script:
    - make UVFLAGS=--dev PYTHON="coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN" $DESIGN
  after_script:
    - mv fvm_out/dashboard/$DESIGN/report fvm_out/dashboard/$DESIGN/report.$TOOLCHAIN.$DESIGN
  artifacts:
    when: always
    paths:
      - .coverage.$TOOLCHAIN.$DESIGN
      - fvm_out/fvm_results/*.xml
      - fvm_out/fvm_results/executor.json
      - fvm_out/dashboard/$DESIGN/results/*.html
      - fvm_out/dashboard/$DESIGN/results/*.json
      - fvm_out/dashboard/$DESIGN/results/*.log
      - fvm_out/dashboard/$DESIGN/report.$TOOLCHAIN.$DESIGN
    reports:
      junit:
        - fvm_out/fvm_results/*.xml

.run_concepts_sby: &run_concepts_sby
  <<: *run_concepts_questa
  image: registry.gitlab.com/hgpub/fosshdl-dist
  variables:
    TOOLCHAIN: "sby"
  before_script:
    - DEBIAN_FRONTEND=noninteractive apt update && apt install -y python3 python3-pip python3-venv
    - source /home/salas/fosshdl/env.rc
    - export FVM_TOOLCHAIN=sby
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"

run_examples_questa:
  <<: *run_concepts_questa
  stage: examples
  parallel:
    matrix:
      - DESIGN: [counter, countervunit, linearinterpolator, dualcounter, uart_tx, arbiter_prior, arbiter_rr, fifo_sync, fifo_async, axi_lite_slave, sdram, ddr2_controller, ipv6]

.run_examples_sby:
  <<: *run_concepts_sby
  stage: examples
  parallel:
    matrix:
      #- DESIGN: [counter, countervunit, linearinterpolator, dualcounter, uart_tx, arbiter_prior, arbiter_rr, fifo_sync, fifo_async, axi_lite_slave, sdram, ddr2_controller, ipv6]
      - DESIGN: [counter, countervunit, linearinterpolator, dualcounter, uart_tx, arbiter_prior, arbiter_rr, fifo_sync, axi_lite_slave]

# Test for #126
# TODO : This test should be done a bit differently, so we don't have to update
# it manually, for example it may get the available steps from the framework
# and then run each of them alternated with a 'make clean' inside a for loop
# TODO : this could be implemented more cleanly using parallel:matrix
.run_steps_independently_questa:
  stage: examples
  image: registry.woden.us.es/containers/questa:2025.1_2
  tags:
    - fast
  variables:
    TOOLCHAIN: "questa"
  before_script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=29000@popote.us.es
    - yum install -y python39 java-1.8.0-openjdk
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
  script:
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN.lint -m examples.countervunit.formal -s lint
    - make clean
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN.rulecheck --m examples.countervunit.formal -s friendliness
    - make clean
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN.reachability --m examples.countervunit.formal -s reachability
    - make clean
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN.resets --m examples.countervunit.formal -s resets
    - make clean
#    - coverage run -m examples.countervunit.formal -s clocks
#    - make clean
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.$DESIGN.prove --m examples.countervunit.formal -s prove
    - make clean
  artifacts:
    when: always
    paths:
      - .coverage.*

run_options_questa:
  stage: concepts
  image: registry.woden.us.es/containers/questa:2025.1_2
  tags:
    - fast
  variables:
    TOOLCHAIN: "questa"
  before_script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=29000@popote.us.es
    - yum install -y python39 java-1.8.0-openjdk
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
  script:
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.hooks.verbose concepts/hooks/formal.py -v
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.hooks.list concepts/hooks/formal.py -l
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.design_configurations.list concepts/design_configurations/formal.py -l
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.hooks.outdir concepts/hooks/formal.py -o fvm_out_2
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.hooks.design concepts/hooks/formal.py -d counter
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.hooks.prove concepts/hooks/formal.py -s prove
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.hooks.prove_list concepts/hooks/formal.py -s prove -l
    - uv run --dev coverage run --data-file=.coverage.$TOOLCHAIN.vunits.continue concepts/inheriting_vunits_fail/formal.py -c
    - make clean
  artifacts:
    when: always
    paths:
      - .coverage.$TOOLCHAIN.hooks.verbose
      - .coverage.$TOOLCHAIN.hooks.list
      - .coverage.$TOOLCHAIN.design_configurations.list
      - .coverage.$TOOLCHAIN.hooks.outdir
      - .coverage.$TOOLCHAIN.hooks.design
      - .coverage.$TOOLCHAIN.hooks.prove
      - .coverage.$TOOLCHAIN.hooks.prove_list
      - .coverage.$TOOLCHAIN.vunits.continue

full_dashboard:
  stage: doc
  image: registry.woden.us.es/containers/debian:12
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv default-jdk curl
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    - mv results.xml fvm_out/fvm_results
    - make report
    - make updated_report
  artifacts:
    when: always
    paths:
      - fvm_out/dashboard/allure-report

apidoc:
  stage: doc
  image: registry.woden.us.es/containers/debian:12
  variables:
    GOAL: 98
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv bc curl
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    - make docs 2>&1 | tee docs.log
    - UNDOCUMENTED=$(grep -oP 'Total undocumented members= \K[\d]+' docs.log)
    - |
      if [ "$(echo "$UNDOCUMENTED > $GOAL" | bc)" -eq 1 ]; then
        echo "ERROR: Number of undocumented $UNDOCUMENTED is over goal $GOAL"
        exit 1
      else
        echo "SUCCESS: Number of undocumented $UNDOCUMENTED is equal or lower than goal $GOAL"
      fi
  artifacts:
    when: always
    paths:
      - doc/sphinx/build/html
      - badges/undocumented.svg
  coverage: /Total undocumented members= ([\d]+)/

# The history is much smaller than the full dashboard, so we can afford to save
# it with a long expiry date
#save_history:
#  stage: history
#  image: registry.woden.us.es/containers/debian:12
#  script:
#    - mv fvm_out/fvm_report/history history
#  artifacts:
#    when: always
#    paths:
#      - history
#    expire_in: 1 month


# TODO : merge coverage files from previous stages
pycoverage:
  stage: coverage
  image: registry.woden.us.es/containers/debian:12
  variables:
    GOAL: "92"
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv bc curl
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    - make pycoverage | tee pycoverage.log
    - LASTFIELD=$(grep 'TOTAL' pycoverage.log | awk '{print $NF}')
    - PERCENTAGE=${LASTFIELD%\%}
    - |
      if [ "$(echo "$PERCENTAGE < $GOAL" | bc)" -eq 1 ]; then
        echo "ERROR: Python coverage $PERCENTAGE is below goal $GOAL"
        exit 1
      else
        echo "SUCCESS: Python coverage $PERCENTAGE equal or better than goal $GOAL"
      fi
  coverage: /TOTAL.*\s+(\d+\%)/
  artifacts:
    when: always
    paths:
      - htmlcov
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

# Deploy to testPyPI, but only if we have pushed a git tag, which should have
# only been pushed to the main branch (the bump_version.sh script enforces
# this), and we are in the private instance, which has the API tokens as CI/CD
# variables
deploy_to_testpypi:
  stage: deploy_testpypi
  rules:
    - if: $CI_COMMIT_TAG && $IS_PRIVATE_GITLAB_INSTANCE == "True"
  image: registry.woden.us.es/containers/debian:12
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv curl
    - curl -LsSf https://astral.sh/uv/install.sh | sh
    - export PATH="$HOME/.local/bin:$PATH"
    - export UV_PUBLISH_TOKEN="${TESTPYPI_API_TOKEN}"
    - uv publish --publish-url https://test.pypi.org/legacy/

# Get the recently published fvm from testpypi and try to run the tests
# Of couse we only do this if we have deployed to testpypi, so the 'rules' are
# the same as for the previous job
# Here we don't want to use uv to run the tests, we only use uv to get the
# version number
# Then we install, using pip, the specific version from testpypi in a clean
# venv and run the tests with that version
# We remove the src/ folder in this job before running pytest to ensure we are
# finding the installed fvm (inside the testvenv)
# Tests may fail if the tests in the test/ folder do not match the installed
# version from testpypi (for example if the repo is 0.1.1 and we install
# 0.1.0), but as far as I know that shouldn't happen since we get the version
# from the repo using uv
test_from_testpypi:
  stage: test_testpypi
  rules:
    - if: $CI_COMMIT_TAG && $IS_PRIVATE_GITLAB_INSTANCE == "True"
  parallel:
    matrix:
      - DOCKERIMAGE: ["debian:12", "debian:13", "ubuntu:22.04", "ubuntu:24.04"]
  image: $DOCKERIMAGE
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv
    - python3 -m venv testvenv
    - source testvenv/bin/activate
    - pip3 install --extra-index-url https://test.pypi.org/simple/ fvm-formal==`uv version --short`
    - pip3 install pytest
    - echo "[pytest]\npythonpath = ." > pytest.ini
    - export SITE_PACKAGES_PATH=$(python -c 'import site; print(site.getsitepackages()[0])')
    - export PYTHONPATH="${SITE_PACKAGES_PATH}:${PYTHONPATH}"
    - rm -rf src/
    - pytest -v

