stages:
  - test
  - concepts
  - examples

test-all:
  stage: test
  image: debian:11
  script:
    - apt update
    - apt install -y python3 python3-pip
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - make test
    - make pycoverage
  coverage: /TOTAL.*\s+(\d+\%)/
  artifacts:
    when: always
    paths:
      - htmlcov
    reports:
      junit:
        - results.xml
      coverage_report:                                                          
        coverage_format: cobertura                                              
        path: coverage.xml 
      
# TODO : Add artifacts, when we have a clearer idea of what those would be
# TODO : Add results.xml, when our framework generates it
run-concepts:
  stage: concepts
  image: registry.woden.us.es/containers/questa:2024.2
  script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=2101@baldr.us.es
    - pip3 install -r requirements.txt
    - make concepts

run-examples:
  stage: examples
  image: registry.woden.us.es/containers/questa:2024.2
  script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=2101@baldr.us.es
    - pip3 install -r requirements.txt
    - make examples
