stages:
  - lint_and_test
  - concepts
  - examples
  - coverage

count_todos_in_code:
  stage: lint_and_test
  image: debian:11
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv
    - pip3 install anybadge
    - COUNT=$(grep -r TODO * | grep -v grep | wc -l)
    - echo "Count=$COUNT"
    - mkdir -p badges
    - anybadge --value=$COUNT --label=TODOs --file=badges/todo.svg 1=green 10=yellow 20=orange 30=tomato 999=red
  coverage: /Count=([\d]+)/
  artifacts:
    paths:
      - badges/todo.svg

lint_python:
  stage: lint_and_test
  image: debian:11
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv bc
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - make lint | tee pylint.log
    - RATING=$(grep -oP 'Your code has been rated at \K[\d.]+' pylint.log)
    - PERCENTAGE=$(echo "$RATING * 10" | bc)
    - printf "lint score is %.2f %%\n" "$PERCENTAGE"
  coverage: /lint score is ([\d]+\.[\d]+)/

test_all:
  stage: lint_and_test
  image: debian:11
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - make test
    - mv .coverage .coverage.pytest
  artifacts:
    when: always
    paths:
      - .coverage.pytest
    reports:
      junit:
        - results.xml

#generate_matrixes:
#  stage: lint_and_test
#  image: debian:11
#  script:
#    - export CONCEPTS=$(make list-concepts | tr '\n' ',')
#    - export EXAMPLES=$(make list-concepts | tr '\n' ',')

# TODO : Add artifacts, when we have a clearer idea of what those would be
# TODO : Add results.xml, when our framework generates it
run_concepts: &run_concepts
  stage: concepts
  image: registry.woden.us.es/containers/questa:2024.3
  parallel:
    matrix:
      - DESIGN: [transactions_deprecated, parameterized_sequences, inheriting_vunits, inheriting_multiple_vunits, parameterized_properties, multiple_designs, symbolic_constants, user_defined_hdltypes, user_defined_hdltypes_in_package, user_defined_hdltypes_in_external_package, assert_to_assume]
  script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=2101@baldr.us.es
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - make PYTHON="coverage run --data-file=.coverage.$DESIGN" $DESIGN
  artifacts:
    when: always
    paths:
      - .coverage.$DESIGN

run_examples:
  <<: *run_concepts
  stage: examples
  parallel:
    matrix:
      - DESIGN: [00-counter, 01-countervunit, 02-linearinterpolator, 04-dualcounter, 05-uart_tx]

# Test for #126
# TODO : This test should be done a bit differently, so we don't have to update
# it manually, for example it may get the available steps from the framework
# and then run each of them alternated with a 'make clean' inside a for loop
# TODO : Not sure how having this in parallel with run-examples will affect
# python coverage, since both write on .coverage, so I'll remove the .coverage
# artifact from this job
# TODO : this could be implemented more cleanly using parallel:matrix
run_steps_independently:
  stage: examples
  image: registry.woden.us.es/containers/questa:2024.3
  script:
    - unset LM_LICENSE_FILE
    - export SALT_LICENSE_SERVER=2101@baldr.us.es
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - coverage run --data-file=.coverage.$DESIGN.lint -m examples.01-countervunit.formal -s lint
    - make clean
    - coverage run --data-file=.coverage.$DESIGN.rulecheck --m examples.01-countervunit.formal -s friendliness
    - make clean
    - coverage run --data-file=.coverage.$DESIGN.reachability --m examples.01-countervunit.formal -s reachability
    - make clean
    - coverage run --data-file=.coverage.$DESIGN.resets --m examples.01-countervunit.formal -s resets
    - make clean
#    - coverage run -m examples.01-countervunit.formal -s clocks
#    - make clean
    - coverage run --data-file=.coverage.$DESIGN.prove --m examples.01-countervunit.formal -s prove
    - make clean
  artifacts:
    when: always
    paths:
      - .coverage.*


# TODO : merge coverage files from previous stages
pycoverage:
  stage: coverage
  image: debian:11
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv
    - pip3 install -r requirements.txt -r dev-requirements.txt
    - make pycoverage
  coverage: /TOTAL.*\s+(\d+\%)/
  artifacts:
    when: always
    paths:
      - htmlcov
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
