.venv
__pycache__
poetry.lock
fvm_out
PoC
grlib-gpl-2024.4-b4295
grlib-gpl-2024.4-b4295.tar.gz
open-logic
sdram-fpga
drom/*.psl
drom/*.svg
test/test.vhd
test/test2.vhd
test/test3.vhd
test/test.psl
test/test2.psl
test/test3.psl
test/test.json
test/test2.json
test/test3.json
test/drom2psl/*.psl
test/drom2psl/test/*.psl
test/drom2psl/test/*.svg
test/drom2psl/tutorial/*.psl
test/drom2psl/tutorial/*.svg
test/testlib/_info
results.xml
.coverage
modelsim.ini
vish_stacktrace.vstf
doc/sphinx/build
badges/*.svg
doc/sphinx/undocumented_count.txt
src/fvmframework.egg-info
uv.lock
