# Development requirements
coverage      # To calculate python code coverage            (Apache License)
pytest        # For unit testing                             (MIT license)
pylint        # To detect linting errors in the python code  (GPLv2)
pylint-exit   # To handle pylint exit codes                  (MIT license)
poetry        # To make a python package                     (MIT license)
poetry2setup  # To create a setup.py from pyproject.toml     (MIT license)

# Documentation requirements
sphinx                    # To generate html documentation   (BSD license)
#sphinx_autodoc_typehints  # Allows documenting arg types     (MIT license)
sphinx-rtd-theme          # Read the docs sphinx theme       (MIT license)
