# Development requirements
coverage      # To calculate python code coverage
pytest        # For unit testing
pylint        # To detect linting errors in the python code
pylint-exit   # To handle pylint exit codes
