# For the framework
loguru      # To have a logger                         (MIT license)
#argparse    # To parse input arguments                 (Python Software Foundation License)
rich        # For really pretty printing               (MIT license)
junit-xml   # To generate JUnit-XML reports            (MIT license)
humanize    # To print times in human-readable format  (MIT license)

# For drom2psl
# We could remove the last two if we use loguru instead of termcolor and
# icecream
pyyaml      # To parse YAML (YAML is a superset of JSON)     (MIT license)
yamllint    # To lint YAML, detecting common errors          (GPLv3)
wavedrom    # To render wavedrom signals from inside python  (MIT license)
termcolor   # To color terminal output                       (MIT license)
icecream    # Provides nice debugging functions              (MIT license)
